/* Variables */
:root {
    --space-xs: 0.64rem;
    --space-sm: 0.8rem;
    --space-rg: 1rem;
    --space-md: 1.25rem;
    --space-lg: 1.563rem;

    --text-size-xs: 0.64rem;
    --text-size-sm: 0.8rem;
    --text-size-rg: 1rem;
    --text-size-md: 1.25rem;
    --text-size-lg: 1.563rem;
}

/* Reset */
*, 
*::before,
*::after{
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
}

h1,
a {
    margin: 0;
}

/* Utility */
.content > * + * {
    margin-bottom: var(--space-rg);
}

/* Main */
.header {
    display: flex;
    position: sticky;
    align-items: center;
    padding: 0 var(--space-rg);
    margin: var(--space-lg) 0;
}

.header > img {
    width: 20rem;
    margin: 0 auto;
}

.container {
    display: block;
    max-width: 75rem;
    margin: 0 auto;
    padding: 0 var(--space-rg);
}

.contributor {
    text-align: center;
}
