.app {
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
  display: grid;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  grid-area: main;
}
